/* Añadir la tipografía */
@font-face {
  font-family: Comfortaa;
  src: url(./../Tipografia/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

/* Tipo de letra para todo el HTML */
.body {
  font-family: "Comfortaa";
}

/* Iconos del encabezado y footer y estrellas */
.iconos {
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}

/* Se agranda al pasar el cursor por los iconos */
.iconos:hover {
  transform: scale(1.1); /*Tamaño que se hace mas grande  */
  transition: transform 0.3s ease; /* Tiempo que tarda en hacer el efecto */
}

/* Menú centrado verticalmente */
.menu {
  background-color: rgba(0, 0, 0, 0.384);
  height: 50px;
  display: flex;
  align-items: center; /* Alineación */
}

/* Iconos redondos de selección de idioma */
.bandera_idioma {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Posicionamiento del menú de idioma */
.menu_idioma {
  position: absolute;
  top: 70px;
  right: 20px;
}

/* Título principal centrado con gran tamaño */
.titulo-principal {
  font-size: 3rem;
  margin: 60px 0 30px 0;
  text-align: center;
  font-weight: bold;
  color: #333;
}

/* Moverse hacia arriba cuando pasa el cursor por encima del titulo */
.titulo-principal:hover {
  transform: translateY(-5px);
}

/* Edicion de los cuadros del index */
.contenedor-cuadros {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap; /* Para que estén en diferentes líneas */
  padding-bottom: 60px;
}

/* Cuadros que aparecen al principio */
.cuadro {
  background-color: #ffffff;
  padding: 40px 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Tiempo que tarda en transicionar */
  background-color 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  color: #333;
}

/* Movimiento cuando pasa por encima el cursor de los cuadros de index */
.cuadro:hover {
  transform: translateY(-5px);
  background-color: #5517ff9f;
}

/* Imagen personal */
.img-fluid {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

/* Fondo del footer */
.inferior {
  background-color: black;
}

/* Alinear selección de idiomas */
.idiomas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px auto;
}

/* Edición del fondo */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url(./../Imagenes/fondototal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Como se ve el footer */
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 2rem; /* Para que haya margen arriba */
  padding-bottom: 2rem; /* Para que haya espacio abajo */
}

/*  Edicion de los div de estudios*/
.info-estudio {
  display: flex;
  align-items: center;
  gap: 15px; /* Lo ancho que hay entre divs */
}

/* Imagen de estudio borde fondo y sombra */
.info-estudio img {
  width: 60px;
  height: auto;
  border-radius: 8px;
  background-color: white;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Margen de los div de estudios */
.item-estudio {
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
}

/* Borde y tamaño videos de YT */
.video_yt {
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Centrar video de YT */
.video {
  display: flex;
  justify-content: center;
}


