<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículum Esteban</title>
    <link rel="icon" href="./../Imagenes/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body class="body">

    <!-- MENÚ NAVEGACIÓN -->
    <div class="row menu">
      <div class="col-lg-9 col-sm-3 col-3">
          <a href="./../index.html"><img src="./../Imagenes/mundo.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./experiencia.html"><img src="./../Imagenes/senales.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./estudios.html"><img src="./../Imagenes/school.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./quiensoy.html"><img src="./../Imagenes/identificador.svg" class="iconos"></a>
      </div>
  </div>

    <!-- ESCOGER IDIOMA -->
    <div class="row">
        <div class="col">
        <a class="nav-link dropdown-toggle menu_idioma" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./../Imagenes/tres_rayas.png" class="iconos">
        </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./estudios.html">Español <img src="./../Imagenes/español.jpg" class="bandera_idioma"></a></li>
            <li><a class="dropdown-item" href="./estudios_en.html">Inglés <img src="./../Imagenes/ingles.jpg" class="bandera_idioma"></a></li>
          </ul>
        </li>
        </ul>
        </div>
    </div>

    <!-- TÍTULO -->
    <div class="row">
        <div class="col">
            <h1 class="titulo-principal">ESTUDIOS</h1>
        </div>
    </div>





<!-- ESTUDIOS -->
<div class="row">
  <div class="col-lg-6 col-sm-12">
      <div class="item-estudio">
        <div class="info-estudio">
          <img src="./../Imagenes/jesuites.jpg" alt="Logo jesuites">
          <div>
            <h3>Sistemas Microinformaticos y Redes (cursando)</h3>
            <p><strong>Jesuïtes Bellvitge</strong></p>
            <p class="fecha">2023 - 2025</p>
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5990.226097776596!2d2.104722277383808!3d41.349896471304554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1746711914692!5m2!1ses!2ses" width="70%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    


    <div class="col-lg-6 col-sm-12">
      <div class="item-estudio">
        <div class="info-estudio">
          <img src="./../Imagenes/salesians.png" alt="Logo salesians">
          <div>
            <h3>Educación Secundaria Obligatoria</h3>
            <p><strong>Salesians Sant Vicenç</strong></p>
            <p class="fecha">2019 - 2023</p>
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5986.5386804774025!2d2.0055773773850456!3d41.389956771299566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49ae75c63b5e9%3A0x3f8260d56d08b8e7!2sSalesians%20Sant%20Vicen%C3%A7%20dels%20Horts!5e0!3m2!1ses!2ses!4v1746711809608!5m2!1ses!2ses" width="70%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    
</div>
    






    
        <!-- Footer -->
  <footer class="footer text-white pt-4 mt-auto">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 col-sm-12 col-12">
          <h5>Contacto</h5>
          <p>Esteban Antiñolo</p>
          <p>+34 622 42 06 84</p> 
            <a href="mailto:442514.joan23@fje.edu" class="text-decoration-none text-info">
              442514.joan23@fje.edu
            </a>
          </p>
        </div>
  
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="d-flex justify-content-center gap-3">
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank">
              <img src="./../Imagenes/linkedin.png" alt="LinkedIn" class="iconos">
            </a>
            <a href="https://www.youtube.com/@EstebanJoan23" target="_blank">
              <img src="./../Imagenes/youtube.png" alt="YouTube" class="iconos">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>






</body>