<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículum Esteban</title>
    <link rel="icon" href="./../Imagenes/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body class="body">


    <!-- MENÚ NAVEGACIÓN -->
    <div class="row menu">
      <div class="col-lg-9 col-sm-3 col-3">
          <a href="./../index.html"><img src="./../Imagenes/mundo.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./experiencia.html"><img src="./../Imagenes/senales.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./estudios.html"><img src="./../Imagenes/school.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./quiensoy.html"><img src="./../Imagenes/identificador.svg" class="iconos"></a>
      </div>
  </div>


    <!-- ESCOGER IDIOMA -->
    <div class="row">
        <div class="col">
        <a class="nav-link dropdown-toggle menu_idioma" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./../Imagenes/tres_rayas.png" class="iconos">
        </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./experiencia.html">Español <img src="./../Imagenes/español.jpg" class="bandera_idioma"></a></li>
            <li><a class="dropdown-item" href="./experiencia_en.html">Inglés <img src="./../Imagenes/ingles.jpg" class="bandera_idioma"></a></li>
          </ul>
        </li>
        </ul>
        </div>
    </div>


    <!-- TÍTULO -->
    <div class="row">
        <div class="col">
            <h1 class="titulo-principal">EXPERIENCIA</h1>
        </div>
    </div>


<!-- EXPERIENCIA -->
<div class="row">
  <div class="col-lg-6 col-sm-12">
      <div class="item-estudio">
        <div class="info-estudio">
          <img src="./../Imagenes/unio.png" alt="Logo unio">
          <div>
            <h3>Entrenador fútbol</h3>
            <p><strong>Unió Esportiva Sant Vicenç</strong></p>
            <p class="fecha">2023 - 2024</p>
            <p>Era el segundo entrenador de un equipo S-10. Básicamente preparaba los entrenamientos y estaba con los jugadores en todo momento, estabamos en segunda división S-10 de Cataluña, por lo que jugabamos partidos de liga la gran mayoría de fines de semana.</p>
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d381339.72778970766!2d1.647300412389356!3d41.694259085809556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49adc492aad2b%3A0xcd64742437b6b701!2sCampo%20de%20f%C3%BAtbol%20de%20La%20Guardia!5e0!3m2!1ses!2ses!4v1746785447345!5m2!1ses!2ses" width="70%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="idiomas"></iframe>
      </div>
    </div>
    

    <div class="col-lg-6 col-sm-12">
      <div class="item-estudio">
        <div class="info-estudio">
          <img src="./../Imagenes/osso.jpg" alt="Logo osso">
          <div>
            <h3>Prácticas SMX</h3>
            <p><strong>Pare Enric d'Osso</strong></p>
            <p class="fecha">2024</p>
            <p>Estas fueron mis prácticas de grado medio, en las que hice al rededor de 400 horas. Mis principales tareas eran ayudar a profesores/alumnado que tenian problemas con los dispositivos informáticos del centro, mantener una revisión de los ordenadores y hacer tareas relacionadas con la informatica.</p>
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1377442812536!2d2.110538112449718!3d41.349359671185105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d011f605c5%3A0x9b99437e7b301534!2sColegio%20Pare%20Enric%20d&#39;Oss%C3%B3!5e0!3m2!1ses!2ses!4v1746786160939!5m2!1ses!2ses" width="70%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="idiomas"></iframe>
      </div>
    </div>


    <div class="col-lg-6 col-sm-12">
        <div class="item-estudio">
          <div class="info-estudio">
            <img src="./../Imagenes/castelldefels.PNG" alt="Logo castelldefels">
            <div>
              <h3>Voluntariado recogida basura</h3>
              <p><strong>Playa Castelldefels - Experiencia no laboral</strong></p>
              <p class="fecha">2023</p>
              <p>Fue un voluntariado que tuve que realizar en la ESO para poder aprobar el curso. Decidí con unos compañeros que iríamos a la playa de Castelldefels, ya que es una playa cercana donde vivimos, y recogeríamos toda la suciedad que pudiéramos. Finalmente, salió todo bien y lo pudimos demostrar con fotografias y una presentación final en Power Point.</p>
            </div>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.057511614585!2d1.9870931124464444!3d41.264083671196104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4835b5f7204b5%3A0xfeb25da5ad41e54b!2sPlaya%20Castelldefels!5e0!3m2!1ses!2ses!4v1746786221643!5m2!1ses!2ses" width="70%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="idiomas"></iframe>
        </div>
      </div>  
</div>
    


        <!-- Footer -->
  <footer class="footer text-white pt-4 mt-auto">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 col-sm-12 col-12">
          <h5>Contacto</h5>
          <p>Esteban Antiñolo</p>
          <p>+34 622 42 06 84</p> 
            <a href="mailto:442514.joan23@fje.edu" class="text-decoration-none text-info"> <!-- Para enviar correo al clicar -->
              442514.joan23@fje.edu
            </a>
          </p>
        </div>
  
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="d-flex justify-content-center gap-3">
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank">
              <img src="./../Imagenes/linkedin.png" alt="LinkedIn" class="iconos">
            </a>
            <a href="https://www.youtube.com/@EstebanJoan23" target="_blank">
              <img src="./../Imagenes/youtube.png" alt="YouTube" class="iconos">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>


</body>
</html>