<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículum Esteban</title>
    <link rel="icon" href="./../Imagenes/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body class="body">

    <!-- MENÚ NAVEGACIÓN -->
    <div class="row menu">
      <div class="col-lg-9 col-sm-3 col-3">
          <a href="./index_en.html"><img src="./../Imagenes/mundo.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./experiencia_en.html"><img src="./../Imagenes/senales.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./estudios_en.html"><img src="./../Imagenes/school.svg" class="iconos"></a>
      </div>
      <div class="col-lg-1 col-sm-3 col-3">
          <a href="./quiensoy_en.html"><img src="./../Imagenes/identificador.svg" class="iconos"></a>
      </div>
  </div>

    <!-- ESCOGER IDIOMA -->
    <div class="row">
        <div class="col">
        <a class="nav-link dropdown-toggle menu_idioma" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./../Imagenes/tres_rayas.png" class="iconos">
        </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./quiensoy.html">Spanish <img src="./../Imagenes/español.jpg" class="bandera_idioma"></a></li>
            <li><a class="dropdown-item" href="./quiensoy_en.html">Eanglish <img src="./../Imagenes/ingles.jpg" class="bandera_idioma"></a></li>
          </ul>
        </li>
        </ul>
        </div>
    </div>

    <!-- TÍTULO -->
    <div class="row">
        <div class="col">
            <h1 class="titulo-principal">WHO AM I?</h1>
        </div>
    </div>



        <!-- INFORMACIÓN ADICIONAL -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <img src="./../Imagenes/persona.jpg" alt="Foto de perfil" class="img-fluid rounded-circle shadow">
                </div>
                <div class="col-lg-8 col-sm-12">
                    <h2>Hello, I'm Esteban!</h2>
                    <p>
                      Hello, my name is Esteban Antiñolo, I'm 17 years old, and I'm from Sant Vicenç dels Horts. I'm currently studying SMX (Sistemas Microinformáticos y Redes) at Jesuites Bellvitge. I'm very interested in everything related to computing and technology, and I'm looking for a first experience where I can put into practice what I'm learning in class, continue improving, and see how things work in the real world.
                    </p>
                    <p>
                      I'm a responsible person, eager to learn and do things well. In my free time, I enjoy playing video games, football, and meet with my friends. These activities have taught me teamwork, perseverance. I wish to start somewhere to demostrate my hardwork and all my knowledge.
                    </p>
                </div>
            </div>
        </div>




        <!-- DATOS PERSONALES -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>Personal Data</h2>
                <ul>
                    <li><strong>Name:</strong> Esteban Antiñolo</li>
                    <li><strong>Years:</strong> 17 años</li>
                    <li><strong>Email:</strong> 442514.joan23@fje.edu</li>
                    <li><strong>Telephone:</strong> +34 622 42 06 84</li>
                    <li><strong>Address:</strong> Calle Barcelona, 291, Sant Vicenç dels Horts, Barcelona</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12 video">
        <iframe width="707" height="398" src="https://www.youtube.com/embed/usLErvKY_Ig" title="VIDEOCURRÍCULUM EN INGLES" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video_yt"></iframe>        
      </div>
    </div>


    
        <!-- Footer -->
  <footer class="footer text-white pt-4 mt-auto">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6 col-sm-12 col-12">
          <h5>Contact</h5>
          <p>Esteban Antiñolo</p>
          <p>+34 622 42 06 84</p> 
            <a href="mailto:442514.joan23@fje.edu" class="text-decoration-none text-info">
              442514.joan23@fje.edu
            </a>
          </p>
        </div>
  
        <div class="col-lg-6 col-sm-12 col-12">
          <div class="d-flex justify-content-center gap-3">
            <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit" target="_blank">
              <img src="./../Imagenes/linkedin.png" alt="LinkedIn" class="iconos">
            </a>
            <a href="https://www.youtube.com/@EstebanJoan23" target="_blank">
              <img src="./../Imagenes/youtube.png" alt="YouTube" class="iconos">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>






</body>